/notebooks/.ipynb_checkpoints/

.env

/notebooks/__pycache__/
.ipynb_checkpoints/

/venv/
/app/src/.env
app/src/__pycache__/
app/__pycache__
app/tmp

virtual-terminal/bin
virtual-terminal/include
virtual-terminal/lib
virtual-terminal/lib64
virtual-terminal/share

**/__pycache__/**